/* Configurações Gerais*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.paletadecores {
    color: #2196F3;
    color: #3D5AFE;
    color: #0D47A1;
}

body, header, main {
    width: 100%;
    
}

.flex {
    display: flex;
}

/* Configurações cabeçalho */

header {
    width: 100%;
    height: 200px;
    background: linear-gradient(#2196F3, #3D5AFE);    
}

header > div#textoCabecalho {
    color: white;
    width: 400px;
    height: auto;
    text-align: center;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30%;
} 

.icons-list {
    margin-top: 30px;
    font-size: 64px;
    color: #2196F3;
    border-radius: 100px;
    padding: 10px;
    background-color: white;
}

/* Configurações corpo e Caixa imput */

a {
    font-size: .8rem;
}

#caixaBuscaCep {
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    margin-top: 5vh;
    border: 1px solid black;
    
}

form {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: white;
    width: 400px;
    height: auto;
    border-radius: 5px;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
    border-radius: 5px;
}

input {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;    
    background-color: #2196F3;    
    color: white;
    height: 40px;
    cursor: pointer;
}

